<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div>
        <h1>Hi This is Index html...</h1>
        <a href="/download">Download this file</a>
    </div>
</body>
</html>