<%- include("../partials/meta") %>
<%- include("../partials/navbar") %>
<body>
<h2>Authorization Page</h2>
<h2>Authorization Page</h2>
<h2>Authorization Page</h2>
<h2>Authorization Page</h2>
<h2>Authorization Page</h2>
</body>
</html>