<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/meta") %>
    <title>Project-01 | EJS</title>
  </head>
  <body>
    <form action="/register" method="post">
      <div>
        <input
          type="text"
          name="name"
          class="bg-blue text-dark border font-extrabold"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <input
          type="text"
          name="email"
          class="bg-blue text-dark border font-extrabold"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <input
          type="number"
          number="phone"
          class="bg-blue text-dark border font-extrabold"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <input
          type="text"
          name="password"
          class="bg-blue text-dark border font-extrabold"
          autocomplete="off"
          required
        />
      </div>
      <button
      type="submit"
        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
        Connect
      </button>
    </form>
    
  </body>
</html>
